@model IEnumerable<HRApplicationAPI.Model.EmployeeDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<div style="width:100%;height:100%;background-color:gold; overflow:scroll">
    <h1>Index</h1>

<p>
    <a asp-action="Create">Content to be Added</a>
</p>
</div>


