

@{
    ViewData["Title"] = "Error";
    Layout = "_ErrorHandler";

}

<div class="lock"> 
   <center> <i class="fas fa-lock fa-3x lock_animation" style=""></i></div></center>
<div class="message">

  <h1>Access to this page is restricted</h1>
  <p>Please check with the site admin if you believe this is a mistake.</p>
</div>

